.todo-card{

    border: 3px solid crimson;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    border-radius: 25px;
}

.todo-completed{

    border-color: lime;

}

body{

    background-color: rgba(192, 187, 171, 0.836);

}